$font-size: 18px;

// COLORS
// Primary
$pink: hsl(322, 100%, 66%);
$white: hsl(322, 100%, 100%);

// Neutral

$paleCyan: hsl(193, 100%, 96%);
$darkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

// padding

$padding-side: 5rem;
